/RAIFF_MULTIFLEXI.p12
/.env
/vendor/
/nbproject/
/fiobank-statement-downloader.phar
/.vscode/
/debian/.debhelper/
/debian/fiobank-statement-downloader/
/debian/debhelper-build-stamp
/debian/fiobank-statement-downloader.substvars
/debian/multiflexi-fiobank-statement-downloader.debhelper.log
/debian/multiflexi-fiobank-statement-downloader.substvars
/debian/fiobank-statement-downloader.debhelper.log
/debian/files
/debian/multiflexi-fiobank-statement-downloader/
/debian/multiflexi-fiobank-statement-downloader.debhelper.log
/debian/fiobank-statement-downloader/
/debian/multiflexi-fiobank-statement-downloader/
/debian/fiobank-statement-downloader.debhelper.log
/debian/fiobank-statement-downloader.substvars
/debian/multiflexi-fiobank-statement-downloader.substvars
