Source: fiobank-statement-tools
Section: unknown
Priority: optional
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.5.0
Homepage: https://github.com/Spoje-NET/fiobank-statement-tools

Package: fiobank-statement-tools
Architecture: all
Depends: ${misc:Depends}, php-mhujer-fio-api (>=5.0.1), php-vitexsoftware-ease-core
Suggests: multiflexi
Description: Download your FioBank Statements
 Download statements to disk in requested format and within given time

Package: multiflexi-fiobank-statement-tools
Architecture: all
Depends: fiobank-statement-tools, multiflexi
Description: Fio Bank statement downoloade, mailer and reporter
 Allow use of FioBank statement tools in MultiFlexi environment
