#!/usr/bin/make -f
PKG_VERSION := $(shell dpkg-parsechangelog -S Version | sed 's/~.*//')
PKG_SOURCE  := $(shell jq -r '.name' composer.json)

%:
	dh $@

override_dh_clean:
	rm -rf vendor
	dh_clean

override_dh_install:
	dh_install
	install -m 644 debian/autoload.php \
	    debian/fiobank-statement-tools/usr/lib/fiobank-statement-tools/autoload.php
	sed -i "s|require_once '../vendor/autoload.php'|require_once '/usr/lib/fiobank-statement-tools/autoload.php'|" \
	    debian/fiobank-statement-tools/usr/lib/fiobank-statement-tools/*.php
	sed -i -e 's/\.\.\/.env//g' \
	    debian/fiobank-statement-tools/usr/lib/fiobank-statement-tools/*.php
	sed -i -e 's|\.\.\/i18n|/usr/share/locale|g' \
	    debian/fiobank-statement-tools/usr/lib/fiobank-statement-tools/*.php
	sed -i "s|'unknown'|'$(PKG_SOURCE)'|" \
	    debian/fiobank-statement-tools/usr/lib/fiobank-statement-tools/autoload.php
	sed -i "s|'0.0.0'|'$(PKG_VERSION)'|" \
	    debian/fiobank-statement-tools/usr/lib/fiobank-statement-tools/autoload.php
	jq '.version = "$(PKG_VERSION)"' multiflexi/fiobank_transaction_report.multiflexi.app.json \
	    |sponge debian/multiflexi-fiobank-statement-tools/usr/lib/fiobank-statement-tools/multiflexi/fiobank_transaction_report.multiflexi.app.json
	jq '.version = "$(PKG_VERSION)"' multiflexi/fiobank_statement_downloader.multiflexi.app.json \
	    |sponge debian/multiflexi-fiobank-statement-tools/usr/lib/fiobank-statement-tools/multiflexi/fiobank_statement_downloader.multiflexi.app.json
	jq '.version = "$(PKG_VERSION)"' multiflexi/fiobank_statement_mailer.multiflexi.app.json \
	    |sponge debian/multiflexi-fiobank-statement-tools/usr/lib/fiobank-statement-tools/multiflexi/fiobank_statement_mailer.multiflexi.app.json
