#!/usr/bin/make -f
# You must remove unused comment lines for the released package.
#export DH_VERBOSE = 1
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	dh $@

override_dh_clean:
	rm -rf vendor
	dh_clean

override_dh_install:
	dh_install
	sed -i -e 's/..\/vendor/\/var\/lib\/composer\/fiobank-statement-tools/g'   debian/fiobank-statement-tools/usr/lib/fiobank-statement-tools/*.php
	sed -i -e 's/\.\.\/.env//g'  debian/fiobank-statement-tools/usr/lib/fiobank-statement-tools/*.php
	sed -i -e 's/\.\.\/i18n/\/usr\/share\/locale/g'            	     debian/fiobank-statement-tools/usr/lib/fiobank-statement-tools/*.php
	jq '.version = "'`dpkg-parsechangelog | sed -n 's/^Version: //p'| sed 's/~.*//'`'"'  debian/conf/composer.json |sponge debian/fiobank-statement-tools/usr/lib/fiobank-statement-tools/composer.json
	jq '.version = "'`dpkg-parsechangelog | sed -n 's/^Version: //p'| sed 's/~.*//'`'"'  multiflexi/fiobank_transaction_report.multiflexi.app.json |sponge debian/multiflexi-fiobank-statement-tools/usr/lib/fiobank-statement-tools/multiflexi/fiobank_transaction_report.multiflexi.app.json
	jq '.version = "'`dpkg-parsechangelog | sed -n 's/^Version: //p'| sed 's/~.*//'`'"'  multiflexi/fiobank_statement_tools.multiflexi.app.json |sponge debian/multiflexi-fiobank-statement-tools/usr/lib/fiobank-statement-tools/multiflexi/fiobank_statement_tools.multiflexi.app.json
	jq '.version = "'`dpkg-parsechangelog | sed -n 's/^Version: //p'| sed 's/~.*//'`'"'  multiflexi/fiobank_statement_mailer.multiflexi.app.json |sponge debian/multiflexi-fiobank-statement-tools/usr/lib/fiobank-statement-tools/multiflexi/fiobank_statement_mailer.multiflexi.app.json
